<p>home works!</p>

<section class="features">
  <div class="containero">
    <div class="tile">
      <a href="/Table">
        <h2>Movies</h2>
        <p>Explore them</p>
      </a>
    </div>
    <div class="tile">
      <h2>Log Purchases Information</h2>
      <p>Record and track information about your purchases.</p>
    </div>
    <div class="tile">
      <h2>Log Sales Information</h2>
      <p>Keep a record of your sales transactions and data.</p>
    </div>
    <div class="tile">
      <h2>Check Shoe Stock</h2>
      <p>Quickly check the stock status of your shoe inventory.</p>
    </div>
  </div>
</section>
